.DS_Store
*/.DS_Store
.ipynb_checkpoints/*

archive/2021/assignments/.ipynb_checkpoints/template-ifn619-assignment1-partb-checkpoint.ipynb
2022/.ipynb_checkpoints/IFN619-week01-intro-checkpoint.ipynb
