.DS_Store
*/.DS_Store
.ipynb_checkpoints/*

assignments/.ipynb_checkpoints/template-ifn619-assignment1-partb-checkpoint.ipynb
2022/.ipynb_checkpoints/IFN619-week01-intro-checkpoint.ipynb
2022/.ipynb_checkpoints/IFN619-week02-module1a-exercise1-checkpoint.ipynb
2022/.ipynb_checkpoints/IFN619-week02-module1a-exercise2-checkpoint.ipynb
2022/.ipynb_checkpoints/IFN619-week03-module1b-checkpoint.ipynb
2022/.ipynb_checkpoints/IFN619-week03-module1b-exercises-checkpoint.ipynb
2022/.ipynb_checkpoints/module1b-exercises-checkpoint.ipynb
